<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form class="from-signin" method="post" action="/auth/login">
        <h2 class="from-signin-heading">Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="from-control" placeholder="Username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="from-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>